.container_principal {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    flex-wrap: wrap;
}

.container_principal img {

    width: 200px;

}

.container_chats {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0.5px solid grey;

}

.container_chats img {
    width: 25%;
    border-radius: 500px;



}

.foto img {

    width: 55px;

}

.Buttom {

    display: flex;
    justify-content: center;
    padding: 20%;
    border: 0.5px solid gray;

}

.general {
    display: flex;

    /* eliminar al final */
    border: 3px solid;

}

.general .container_chats {

    width: 35%;

}

.general .container_principal {

    width: 65%;

}

button {

    background-color: #a491d2;
    color: white;
    border: 0px solid;


}

.Maria {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.5rem;
    border: 0.5px solid grey;

}

.Maria img {
    display: flex;
    width: 45px;


}

.Maria i {
    font-size: medium;
}


.Personas {
    display: flex;
    flex-direction: column;
}

.Juanita {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid gray;
    font-size: smaller;

}

.Alberto {

    display: flex;
    justify-content: space-evenly;
    border: 1px solid gray;
    font-size: smaller;
}

.Ignacio {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid gray;
    font-size: smaller;
}

.Cristian {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid gray;
    font-size: smaller;
}

.MaríaJosé {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid gray;
    font-size: smaller;

}

.Gonzalo {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid gray;
    font-size: smaller;

}

.JuanPablo {

    display: flex;
    justify-content: space-evenly;
    border: 1px solid gray;
    font-size: smaller;
}

.Magdalena{
      display: flex;
    justify-content: space-evenly;
    border: 1px solid gray;
    font-size: smaller;  

}