
.container_principal{

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    flex-wrap: wrap;
}

.container_principal img{
    
    width: 200px;

}

.container_chats{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid grey;
    
}

.container_chats img{
    width: 25%;
    border-radius: 500px;

    

}
.foto img{
    
    width: 75px;

}

.Buttom{

    display: flex;
    justify-content: center;
    padding: 5%;

}

.general{
    display: flex;

    /* eliminar al final */
    border: 3px solid ;
    
}
.general .container_chats{

    width: 25%;

}

.general .container_principal{

    width: 65%;

}

button{

    background-color: #a491d2;
    color: white;
    border: 0px solid ;


}

.Maria{
    display: flex;
    justify-content: space-between;
    font-size: 0.5rem;
    gap: -100%;

}
.Maria img{
    display: flex;
    width: 50px;
    

}

.Maria i{

    font-size: medium;
}





